/* html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.d-none{
    display: none !important;
}

#error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 200px;
    font-size: 50px;
    font-weight: bold;
    margin: 2rem 0;
}



.container {
    width: 95%;
    max-width: 1800px;
    margin: 0 auto
}

.green {
    background-color: rgb(21, 216, 21);
    transition: all 2s ease-out;
    cursor: default;
}

.transmited{
    display: none !important;
    height: 0;
    transition: all 2s ease-out;
}

.yellow {
    background-color: #f8f400;
    cursor: pointer;
}

.red {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

#transmitions {
    display: flex;
    flex-wrap: wrap;
}

thead {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}


tbody {
    text-align: center;
}

tbody td {
    font-size: 21.5px;
    padding: 3px 36px;
    border: 2px #777676 solid;
    font-weight: bold;
}

.content-table {
    flex-basis: 12.5%;
    position: relative;
    min-height: 300px;
}

.supervisor {

    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.content-text-sup {
    max-height: 35px;
    transform: rotate(-90deg);
    width: 190px;
    left: -50%;
    top: 40%;
    position: absolute;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 3px 5px;
    min-width: 60px;
    margin: 1rem;
    border: 2.5px #777676 solid;
    border-radius: 4px;
}

#all-box {
    font-size: 50px;
    font-weight: bold;
}

#content-all-box {
    text-align: right;
    margin-top: 2.5rem;
}

.drag{
    box-shadow: -4px 1px 71px 26px rgba(125,119,119,0.47) inset;
    -webkit-box-shadow: -4px 1px 71px 26px rgba(125,119,119,0.47) inset;
    -moz-box-shadow: -4px 1px 71px 26px rgba(125,119,119,0.47) inset;
}

#renew{
    cursor: pointer;
    margin-top: 26px;
}
#content-header{
    text-align: right;
}
.rotate{
    animation: rotation 1s normal linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
} */



/** bootstrap **/


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
}

p{
    font-weight: 649;
    margin: 0;
}

.container-main {
    width: 98%;
    max-width: 3000px;
    margin: 0 auto
}

.content-text-sup {
    max-height: 35px;
    transform: rotate(-90deg);
    width: 171px;
    left: -42%;
    top: 50%;
    position: absolute;
    text-align: center;
}


.content-table {
    position: relative;
    min-height: 200px;
    max-width: 140px;
}

#rv-table {
    /* max-width: 100px; */
}
.rv{
border-bottom: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
cursor: pointer;
 height: 25px;
font-size: 17px;
/* transition: all 2s ease-out; */
}

.transmited{
    display:none;
    /* animation: transmited 1s normal linear; */
}

@keyframes transmited {
    0% {
        height: 25px;
        font-size: 17px;
    }
    
    25% {
        height: 18.75px;
        font-size: 12.75px;
    }
    50% {
        height: 12.5px;
        font-size: 8.5px;
    }
    75% {
        height: 6.25;
        font-size: 4.25px;
    }
    100% {
        height: 0px;
        font-size: 0px;
        display: none !important;
    }
}

.table-title{
    font-size: 13px;
    font-weight: bolder;
    border: 1px solid black;
}

.bgd-postobon{
    background-color:#6ea8fe;
}

.bgd-central-cervecera{
    background-color:#ffda6a;
}

.bgd-nutrium{
    background-color:#75b798;
}

.bgd-dont-transmited{
    background-color:#fd9843 !important;
}

.drag{
    box-shadow: -4px 1px 71px 26px rgba(125,119,119,0.47) inset;
    -webkit-box-shadow: -4px 1px 71px 26px rgba(125,119,119,0.47) inset;
    -moz-box-shadow: -4px 1px 71px 26px rgba(125,119,119,0.47) inset;
}

#renew{
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-top: 6px;
}

.rotate{
    animation: rotation 1s normal linear;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}


#all-box {
    font-size: 20px;
    font-weight: bold;
    margin-right: 1rem;
}

